@model TimMovie.Web.ViewModels.FilmViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Title;
}

<a href="#" id="backward_link" class="hover_link">
    <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 129 129"
         xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px">
        <path
            d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/>
    </svg>
</a>
<ul id="film_with_genre_links">
    <li>
        <a class="hover_link" asp-controller="Films" asp-action="Filters">Фильмы</a>
    </li>
    <li>&bull; <a href="#" class="hover_link">@Model.Genres.First().Name</a></li>
</ul>

<div class="row mt-5" id="film-row">
    <div class="col-xl-5 text_color order-xl-2 pl-5" id="film_info_container">
        <div id="film_info" class="mb-5">
            <h1>@Model.Title</h1>
            <ul id="film_links">
                <li>
                    <a class="hover_link">@Model.Year</a>
                    <li>
                        <a class="hover_link">@Model.Country?.Name</a>
                    </li>
                </li>
            </ul>
            <ul>
                @foreach (var genre in Model.Genres)
                {
                    <li class="d-inline-block">&bull; <a class="hover_link">@genre.Name</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-12 col-xl-7 order-xl-1 p-0" id="film_player">
        <div class="ratio ratio-16x9 circleBorders">
            <iframe src="@Model.FilmLink?rel=0&controls=2&modestbranding=1"
                    title="YouTube video" allowfullscreen style="border-radius: 16px;">
            </iframe>
        </div>
        <div class="d-flex flex-row-reverse justify-content-between align-items-center mt-2">
            <div class="d-flex flex-column">
                <button class="buttons" id="rate_movie">
                    <svg class="mt-2 svg_size" width="2.2em" fill="#c6c6c9" version="1.1" viewBox="0 0 700 700"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m153.84 102.23c-26.82 21.855-43.027 54.121-44.547 88.68-1.6094 34.418 11.344 67.926 35.684 92.312l180.28 180.28c6.5664 6.5547 15.469 10.234 24.746 10.234s18.18-3.6797 24.746-10.234l180.28-180.28c24.332-24.391 37.285-57.891 35.684-92.305-1.5156-34.562-17.719-66.828-44.535-88.688-24.383-19.027-54.926-28.398-85.785-26.324-30.859 2.0703-59.871 15.445-81.492 37.562l-28.898 28.898-28.898-28.898c-21.617-22.121-50.629-35.496-81.488-37.566-30.859-2.0742-61.398 7.3008-85.777 26.328zm142.52 35.984 41.273 41.273-0.003906-0.003906c3.2812 3.2852 7.7344 5.1289 12.375 5.1289s9.0898-1.8438 12.371-5.1289l41.273-41.273v0.003906c15.434-16.016 36.227-25.781 58.406-27.441 22.18-1.6602 44.191 4.9062 61.836 18.441 19.066 15.633 30.633 38.594 31.852 63.215 1.2148 24.621-8.0312 48.609-25.457 66.047l-180.28 180.28-180.28-180.28c-17.43-17.438-26.676-41.426-25.457-66.051 1.2188-24.621 12.793-47.582 31.859-63.211 15.137-12.332 34.109-18.984 53.637-18.805 25 0.10156 48.945 10.098 66.598 27.805z"/>
                    </svg>
                    <span id="rate_movie_label">Поставить оценку фильму</span>
                </button>
                <div class="d-flex justify-content-end">
                    <button class="buttons" id="watch_later">
                        <svg class="svg_size mt-2" width="2.2rem" fill="#c6c6c9" version="1.1" viewBox="0 0 700 700"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m536.2 12.824h-372.4c-8.5117 0-15.625 7-15.625 15.625v502.77c0 12.938 14.895 20.328 25.258 12.434l176.62-139.95 176.62 140.28c10.305 7.8945 25.145 0.50391 25.145-12.434l-0.003906-503.11c0-8.625-7-15.625-15.625-15.625zm-15.625 486.98-161-128.3c-5.6016-4.2578-13.328-4.3672-19.039 0l-161.11 127.96v-455.34h341.15z"/>
                        </svg>
                        <span id="watch_later_label">Смотреть позже</span>
                    </button>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center text-center">
                <h1 class="text_color rating_label">@Model.Rating</h1>
                <span class="rating_under_label">Оценили: @Model.GradesNumber</span>
            </div>
        </div>
    </div>
    <div id="film_description">
        <h2 class="text_color text_bold">О фильме</h2>
        <div id="description">
            Драматическая история о войне в Донбассе. Май 2014 года, Луганск. Жизни многих местных жителей навсегда меняются с началом боевых действий. Кому из них суждено стать жертвой новой реальности, и кто останется человеком несмотря на страшные обстоятельства?
            <p>Влад Новожилов – бывший солдат-афганец, который живёт в Луганске вместе с семьёй. В мае 2014 года в соседнем Донецке разворачивается настоящая война, и Новожиловы принимают решение уехать в Россию – подальше от ужасов вооружённого конфликта. На своём пути к безопасности и мирной жизни герои и их близкие сталкиваются с множеством тяжёлых испытаний. Вокруг них происходят обстрелы, гибнут невинные люди, а жители Донбасса сталкиваются с издевательствами и лишениями. Удастся ли героям остаться в живых, преодолеть все трудности и сохранить человечность? Как происходящее повлияет на их судьбы? </p>
            <p>Приглашаем поклонников военных драм посмотреть онлайн российский фильм «Солнцепёк» режиссёров Максима Бриуса и Михаила Вассербаума, который рассказывает пронзительную историю войны в Донбассе. </p>
        </div>
        <button id="more">Читать дальше...</button>
    </div>
</div>
<div class="film__line mt-4"></div>
<div class="d-flex flex-column mt-4">
    <div class="h3">
        Актеры и режиссеры
    </div>
    <div class="actors-producers__container mt-3">
        @{
            var amountActorForShow = 10 - Model.Producers.Count;
            var actorsAndProducersMoreTen = Model.Producers.Count + Model.Actors.Count > 10;
        }
        @foreach (var producer in Model.Producers)
        {
            <a href="#" class="d-flex flex-column actors-producers__item__container">
                <img src=@producer.Photo class="actors-producers__item__img">
                <div class="d-flex flex-column mt-1">
                    <div class="actors-producers__item__name">@producer.Name @producer.Surname</div>
                    <div class="actors-producers__item__who">Продюсер</div>
                </div>
            </a>
        }
        @foreach (var actor in Model.Actors.Take(amountActorForShow))
        {
            <a href="#" class="d-flex flex-column actors-producers__item__container">
                <img src=@actor.Photo class="actors-producers__item__img">
                <div class="d-flex flex-column mt-1">
                    <div class="actors-producers__item__name">@actor.Name @actor.Surname</div>
                    <div class="actors-producers__item__who">Актёр</div>
                </div>
            </a>
        }
        @if (actorsAndProducersMoreTen)
        {
            foreach (var actor in Model.Actors.Skip(amountActorForShow))
            {
                <div class="actors-producers__item__container_show">
                    <a href="#" class="d-flex flex-column actors-producers__item__container">
                        <img src=@actor.Photo class="actors-producers__item__img">
                        <div class="d-flex flex-column mt-1">
                            <div class="actors-producers__item__name">@actor.Name @actor.Surname</div>
                            <div class="actors-producers__item__who">Актёр</div>
                        </div>
                    </a>
                </div>
            }
            <div id="actorsProducersMoreBtn">
                <div class="d-flex align-items-center justify-content-center actors-producers__more-btn">
                    Еще
                </div>
            </div>
            <div id="actorsProducersHideBtn">
                <div class="d-flex align-items-center justify-content-center actors-producers__more-btn">
                    Скрыть
                </div>
            </div>
        }
    </div>
</div>


@section Styles
{
    <link rel="stylesheet" href="/css/filmPage.css">
}

@section Scripts{
    <script src="~/js/filmPage.js"></script>
}